CDSE_CLIENT_ID=your_client_id_here
CDSE_CLIENT_SECRET=your_client_secret_here
CDSE_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
CDSE_PROCESS_URL=https://sh.dataspace.copernicus.eu/api/v1/process
FRONTEND_ORIGIN=http://localhost:5173